h3 {
    font-family: "oswald";
    color: white;
    font-size: 1.45vw;
    text-align: left;
    margin: 0;
    padding-top: 1.5%;
    cursor: pointer;
    transition: all 0.2s ease;
}

h3:hover {
    color: #3C47C8;
    transition: all 0.2s ease;
}

.game-jams {
    margin-bottom: 50px;
}

.game-jams-container {
    display: flex;
    justify-content: center;
    margin: 8% 7% 5%;
    gap: 2%;
}

.game-jams-container > div {
    width: stretch;
    perspective: 1000px;
    cursor: pointer;
    justify-items: left;
    display: inline-block;
}

.game-jams-container > div > img {
    width: 100%;
    border-radius: 5%;
    object-fit: cover;

    transition: transform 0.02s ease;
    transform-style: preserve-3d;
}

.game-jams-container > div > img:hover {
    transform: rotate3d(0,1,0, var(--mouseX)) rotate3D(-1,0,0, var(--mouseY)) scale(1.05);
}

.game-jam-link {
    font-family: "lora";
    color: #9A9A9A;
    font-weight: bold;
    font-size: .85vw;

    display: block;
    text-align: left;
    margin: 0;
    padding: 0;

    transition: all 0.3s ease;
}

.game-jam-link:hover {
    color: #3C47C8;
    text-decoration: underline;
    transition: all 0.2s ease;
}

.carousel-link {
    font-size: var(--h2-size);
    text-align: center;
    transition: transform 0.2s ease;
}

.web-game-screen {
    border:none;
    background-color: black;
    border-radius: 2%;
    width: stretch;
    margin: 0 7%;

    display: var(--screen-display);
    height: var(--screen-height);

    z-index: 10;
    position: relative;
}

.game-jam-info {
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 7%;

    display: none;
}

.game-jam-info > :where(h1, h2) {
    padding-right: 52%;
}

.game-jam-icon {
    position: absolute;
    right: 41%;
    top: 0;
    padding-top: 2%;
}

.carousel {
    float: right;
    width:  40%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    display: inline-block;
}

.carousel > a {
    display: inline-block;
}

.carousel-images > img {
    width: stretch;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
    transition: transform 0.3s ease;
    margin-bottom: 1%;
}

.dots {
    position: absolute;
    top: 16.2vw;
    display: flex;
    gap: .2vw;

    width: stretch;
    height: .9vw;

    justify-content: center;
    align-items: center;

    z-index: 1;
}

.dotActive {
    background-color: white;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    transition: all .2s ease;
}

.dotInactive {
    border: .15vw solid white;
    height: 60%;
    aspect-ratio: 1;
    border-radius: 50%;
    transition: all .2s ease;

}