/*super wide*/
@media (min-width: 1930px) {
    .steam-release {
        min-height: 33vw;
    }
}

@media (max-width: 1100px) {

    :root {
        --h1-size: 35px;
        --h2-size: 22px;
        --p-size: 20px;
    }

    .section-header {
        width: 500px;
        top: -47px;
    }

    .pfp {
        top: -40px;
    }

    .about-me > p {
        padding-bottom: 15%;
        padding-right: 15%;
    }

    .about-me > h2 {
        padding-right: 20%;
    }

    .about-me-buttons {
        justify-content: left;
        left: 7%;
        bottom: 5%;
        margin-bottom: 0;
    }

    .break {
        display: none;
    }

    p, .about-me-buttons > a > button {
        margin-top: 20px;
    }

    .about-me-buttons > a {
        margin-right: 2%;
    }
    .about-me-buttons > a > button > img {
        height: 32px;
    }

    .trailer-container {
        display: none;
    }

    .mobile-trailer-container {
        display: inline;
    }

    .trailer {
        width: stretch;
        margin: 3% 0;
    }

    .steam-icon {
        right: 10%;
        top: 5%;
    }

    .icons > div {
        width: 80px;
        height: 80px;
        /*border-radius: 8px;*/
    }
}

 /*mobile*/
@media (max-width: 800px) {

    :root {
        --h1-size: 20px;
        --h2-size: 12px;
        --p-size: 11px;
    }

    .section-header {
        width: 300px;
        top: -28px;
    }

    .about-me-buttons > a > button > img {
        height: 20px;
    }

    .about-me-buttons > a > button {
        padding: 5px 5px;
        border-radius: 5px;
    }

    .icons > div {
        width: 45px;
        height: 45px;
        border-radius: 8px;
    }

    .game-jam-icon > div {
        width: 30px;
        height: 30px;
    }

}

h1, h2, p, .about-me-buttons > button {
    transition: all 0.20s ease-in-out;
}