@media (max-width: 1200px) {
    .section-header {
        width: 500px;
        top: -47px;
    }

    .pfp {
        top: -40px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 22px;
    }

    p, .about-me-buttons > button {
        font-size: 20px;
    }
    .about-me-buttons > button > img {
        height: 32px;
    }
}

@media (max-width: 900px) {
    .section-header {
        width: 350px;
        top: -33px;
    }

    .pfp {
        top: -32px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    p, .about-me-buttons > button {
        font-size: 18px;
    }

    .about-me-buttons > button > img {
        height: 27px;
    }
}

 /*mobile*/
@media (max-width: 600px) {
    .section-header {
        width: 250px;
        top: -23px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 14px;
    }

    p, .about-me-buttons > button {
        font-size: 12px;
    }
    .about-me-buttons > button > img {
        height: 20px;
    }

    .about-me-buttons > button {
        padding: 5px 5px;
        border-radius: 5px;
    }

    .icons > div {
        width: 9%;
        height: 9%;
        border-radius: 7px;
    }
}

h1, h2, p, .about-me-buttons > button {
    transition: all 0.20s ease-in-out;
}