@media (max-width: 1200px) {
    .section-header {
        width: 500px;
        top: -47px;
    }

    .pfp {
        top: -40px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 22px;
    }

    .about-me > p {
        margin-bottom: 12%;
        padding-right: 15%;
    }

    .about-me > h2 {
        padding-right: 20%;
    }

    .about-me-buttons {
        justify-content: left;
        left: 7%;
        bottom: 2%;
        margin-bottom: 0;
    }

    .break {
        display: none;
    }

    p, .about-me-buttons > button {
        font-size: 20px;
        margin-top: 20px;
    }

    .about-me-buttons > button {
        margin-right: 2%;
    }
    .about-me-buttons > button > img {
        height: 32px;
    }
}

@media (max-width: 900px) {
    .section-header {
        width: 350px;
        top: -33px;
    }

    .pfp {
        top: -32px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    .about-me > p {
        margin-bottom: 14%;
    }

    p, .about-me-buttons > button {
        font-size: 18px;
    }

    .about-me-buttons > button > img {
        height: 27px;
    }
}

 /*mobile*/
@media (max-width: 600px) {
    .section-header {
        width: 300px;
        top: -28px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 12px;
    }

    p, .about-me-buttons > button {
        font-size: 11px;
    }
    .about-me-buttons > button > img {
        height: 20px;
    }

    .about-me-buttons > button {
        padding: 5px 5px;
        border-radius: 5px;
    }

    .icons > div {
        width: 12%;
        height: 12%;
        border-radius: 8px;
    }
}

h1, h2, p, .about-me-buttons > button {
    transition: all 0.20s ease-in-out;
}