:root {
    --mouseX: 0deg;
    --mouseY: 0deg;
}

@font-face {
    font-family: "oswald";
    src: url("fonts/Oswald-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "lora";
    src: url("fonts/Lora-VariableFont_wght.ttf") format("truetype");
}

a {
    text-decoration: none;
}

h1 {
    font-family: "oswald";
    color: #FFFFFF;
    font-size: 55px;
    text-align: left;
    margin-bottom: 0
}

h2 {
    font-family: "lora";
    color: #9A9A9A;
    font-weight: bold;
    font-size: 28px;
    text-align: left;
    margin-top: 0;
}

p {
    font-family: "lora";
    font-size: 24px;
    text-align: left;
    margin-top: 50px;
    color: white;
}

body {
    background-image: url("img/bg3.jpg");
    background-repeat: no-repeat;
    background-color: #0C0C0D;
    background-size: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.background {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    z-index: -1;
}

.header {
    width: 100%;
    /*background-color: white;*/
}

.header-img {
    width: 85%;
    height: auto;
    margin-top: 20px;
}

.header > h1 {
    margin-top: 0;
    text-align: center;
    margin-left: 0;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons > div {
    width: 50px;
    height: 50px;

    background-color: white;
    border-radius: 10px;

    margin: 12px 0 6px 6px;

    transition: all 0.30s ease-in-out;
}

.icons > div:hover {
    transition: all 0.12s ease-in-out;
    transform: scale(1.2);
    background-color: #3C47C8;
    margin: 12px 10px;
}