.blog {
    width: 100%;
    height: 100%;
    display: none;
    padding-bottom: 7%;
}

.blog > :where(h1, h2, p) {
    padding-left: 7%;
    padding-right: 7%;
}

.blog > h1 {
    padding-top: 3%;
    padding-bottom: 5%
}

.blog > h2 {
    margin-bottom: 0;
}

.blog > p {
    margin: 10px 0;
}

.blog > img {
    margin: 20px 0;
}